In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('filter').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/05 23:07:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/11/05 23:07:16 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [20]:
spark

In [21]:
df_spark=spark.read.csv('data/test1.csv',inferSchema=True,header=True)

In [22]:
df_spark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|Abhishek | 34|        10|
|   Nitesh| 30|         7|
| Sangeeta| 33|         8|
|  Anamika| 36|        13|
+---------+---+----------+

In [23]:
df_spark.select(['Age','Experience']).show()

+---+----------+
|Age|Experience|
+---+----------+
| 34|        10|
| 30|         7|
| 33|         8|
| 36|        13|
+---+----------+

In [24]:
df_spark.head(2)

[Row(Name='Abhishek ', Age=34, Experience=10),
 Row(Name='Nitesh', Age=30, Experience=7)]

In [25]:
df_spark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [26]:
df_spark=df_spark.withColumn("Salary",df_spark['Age']*df_spark['Experience'])

In [27]:
df_spark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|Abhishek | 34|        10|   340|
|   Nitesh| 30|         7|   210|
| Sangeeta| 33|         8|   264|
|  Anamika| 36|        13|   468|
+---------+---+----------+------+

In [28]:
df_spark.withColumnRenamed("Salary","Income").show()

+---------+---+----------+------+
|     Name|Age|Experience|Income|
+---------+---+----------+------+
|Abhishek | 34|        10|   340|
|   Nitesh| 30|         7|   210|
| Sangeeta| 33|         8|   264|
|  Anamika| 36|        13|   468|
+---------+---+----------+------+

In [30]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [32]:
df_spark=df_spark.withColumn("new name",df_spark['Name'])

In [33]:
df_spark.show()

+---------+---+----------+------+---------+
|     Name|Age|Experience|Salary| new name|
+---------+---+----------+------+---------+
|Abhishek | 34|        10|   340|Abhishek |
|   Nitesh| 30|         7|   210|   Nitesh|
| Sangeeta| 33|         8|   264| Sangeeta|
|  Anamika| 36|        13|   468|  Anamika|
+---------+---+----------+------+---------+

In [34]:
df_spark.drop('new name').show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|Abhishek | 34|        10|   340|
|   Nitesh| 30|         7|   210|
| Sangeeta| 33|         8|   264|
|  Anamika| 36|        13|   468|
+---------+---+----------+------+