In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('filter').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/08 22:02:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [5]:
df_spark=spark.read.csv('data/test1.csv',inferSchema=True,header=True)

In [6]:
df_spark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|Abhishek | 34|        10|
|   Nitesh| 30|         7|
| Sangeeta| 33|         8|
|  Anamika| 36|        13|
+---------+---+----------+

In [7]:
df_spark.select(['Age','Experience']).show()

+---+----------+
|Age|Experience|
+---+----------+
| 34|        10|
| 30|         7|
| 33|         8|
| 36|        13|
+---+----------+

In [8]:
df_spark.head(2)

[Row(Name='Abhishek ', Age=34, Experience=10),
 Row(Name='Nitesh', Age=30, Experience=7)]

In [9]:
df_spark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [10]:
df_spark=df_spark.withColumn("Salary",df_spark['Age']*df_spark['Experience'])

In [11]:
df_spark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|Abhishek | 34|        10|   340|
|   Nitesh| 30|         7|   210|
| Sangeeta| 33|         8|   264|
|  Anamika| 36|        13|   468|
+---------+---+----------+------+

In [12]:
df_spark.withColumnRenamed("Salary","Income").show()

+---------+---+----------+------+
|     Name|Age|Experience|Income|
+---------+---+----------+------+
|Abhishek | 34|        10|   340|
|   Nitesh| 30|         7|   210|
| Sangeeta| 33|         8|   264|
|  Anamika| 36|        13|   468|
+---------+---+----------+------+

In [13]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [14]:
df_spark=df_spark.withColumn("new name",df_spark['Name'])

In [15]:
df_spark.show()

+---------+---+----------+------+---------+
|     Name|Age|Experience|Salary| new name|
+---------+---+----------+------+---------+
|Abhishek | 34|        10|   340|Abhishek |
|   Nitesh| 30|         7|   210|   Nitesh|
| Sangeeta| 33|         8|   264| Sangeeta|
|  Anamika| 36|        13|   468|  Anamika|
+---------+---+----------+------+---------+

In [16]:
df_spark.drop('new name').show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|Abhishek | 34|        10|   340|
|   Nitesh| 30|         7|   210|
| Sangeeta| 33|         8|   264|
|  Anamika| 36|        13|   468|
+---------+---+----------+------+

In [17]:
df_spark.show()

+---------+---+----------+------+---------+
|     Name|Age|Experience|Salary| new name|
+---------+---+----------+------+---------+
|Abhishek | 34|        10|   340|Abhishek |
|   Nitesh| 30|         7|   210|   Nitesh|
| Sangeeta| 33|         8|   264| Sangeeta|
|  Anamika| 36|        13|   468|  Anamika|
+---------+---+----------+------+---------+

In [19]:
from pyspark.sql.functions import lit

In [26]:
df_spark=df_spark.withColumn("Rating",lit(5))

In [27]:
df_spark.show()

+---------+---+----------+------+---------+------+
|     Name|Age|Experience|Salary| new name|Rating|
+---------+---+----------+------+---------+------+
|Abhishek | 34|        10|   340|Abhishek |     5|
|   Nitesh| 30|         7|   210|   Nitesh|     5|
| Sangeeta| 33|         8|   264| Sangeeta|     5|
|  Anamika| 36|        13|   468|  Anamika|     5|
+---------+---+----------+------+---------+------+