In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('test_spark').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/05 22:58:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [6]:
df_spark=spark.read.csv('/config/workspace/data/test1.csv',header=True,inferSchema=True)

In [7]:
df_spark

DataFrame[Name: string, Age: int, Experience: int]

In [8]:
df_spark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|Abhishek | 34|        10|
|   Nitesh| 30|         7|
| Sangeeta| 33|         8|
|  Anamika| 36|        13|
+---------+---+----------+

In [9]:
df_spark.describe().show()

+-------+---------+-----------------+------------------+
|summary|     Name|              Age|        Experience|
+-------+---------+-----------------+------------------+
|  count|        4|                4|                 4|
|   mean|     null|            33.25|               9.5|
| stddev|     null|2.499999999999999|2.6457513110645903|
|    min|Abhishek |               30|                 7|
|    max| Sangeeta|               36|                13|
+-------+---------+-----------------+------------------+

In [10]:
df_spark.select(['Name','Age']).show()

+---------+---+
|     Name|Age|
+---------+---+
|Abhishek | 34|
|   Nitesh| 30|
| Sangeeta| 33|
|  Anamika| 36|
+---------+---+

In [11]:
df_spark.withColumn('Salary',df_spark['Experience']*10000).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|Abhishek | 34|        10|100000|
|   Nitesh| 30|         7| 70000|
| Sangeeta| 33|         8| 80000|
|  Anamika| 36|        13|130000|
+---------+---+----------+------+

In [12]:
df_spark.withColumnRenamed('Name','FirstName').show()

+---------+---+----------+
|FirstName|Age|Experience|
+---------+---+----------+
|Abhishek | 34|        10|
|   Nitesh| 30|         7|
| Sangeeta| 33|         8|
|  Anamika| 36|        13|
+---------+---+----------+

In [13]:
df_spark.drop('Age').show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|Abhishek |        10|
|   Nitesh|         7|
| Sangeeta|         8|
|  Anamika|        13|
+---------+----------+

In [16]:
df_spark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|Abhishek | 34|        10|
|   Nitesh| 30|         7|
| Sangeeta| 33|         8|
|  Anamika| 36|        13|
+---------+---+----------+