In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('handling_data').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/13 14:41:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
df_spark=spark.read.csv('../data/Student_marks.csv',header=True,inferSchema=True)

In [12]:
df_spark.show()

+------+------+----+-------+-------+
|  Name|   Sex|Math|Science|English|
+------+------+----+-------+-------+
| Sunny|Female|  87|     91|     81|
| Bobby|  Male|  67|     56|     71|
|  Tina|Female|null|     54|     90|
| Reeta|  null|  71|   null|   null|
|Sachin|  Male|null|     67|     51|
| Honey|Female|  80|     76|   null|
+------+------+----+-------+-------+

In [13]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Math: integer (nullable = true)
 |-- Science: integer (nullable = true)
 |-- English: integer (nullable = true)

In [19]:
df_spark.na.drop(how='any',thresh=5).show()

+-----+------+----+-------+-------+
| Name|   Sex|Math|Science|English|
+-----+------+----+-------+-------+
|Sunny|Female|  87|     91|     81|
|Bobby|  Male|  67|     56|     71|
+-----+------+----+-------+-------+

In [21]:
df_spark.na.drop(how='all',thresh=3).show()

+------+------+----+-------+-------+
|  Name|   Sex|Math|Science|English|
+------+------+----+-------+-------+
| Sunny|Female|  87|     91|     81|
| Bobby|  Male|  67|     56|     71|
|  Tina|Female|null|     54|     90|
|Sachin|  Male|null|     67|     51|
| Honey|Female|  80|     76|   null|
+------+------+----+-------+-------+

In [22]:
df_spark.show()

+------+------+----+-------+-------+
|  Name|   Sex|Math|Science|English|
+------+------+----+-------+-------+
| Sunny|Female|  87|     91|     81|
| Bobby|  Male|  67|     56|     71|
|  Tina|Female|null|     54|     90|
| Reeta|  null|  71|   null|   null|
|Sachin|  Male|null|     67|     51|
| Honey|Female|  80|     76|   null|
+------+------+----+-------+-------+

In [27]:
df_spark.na.fill("Missing").show()

+------+-------+----+-------+-------+
|  Name|    Sex|Math|Science|English|
+------+-------+----+-------+-------+
| Sunny| Female|  87|     91|     81|
| Bobby|   Male|  67|     56|     71|
|  Tina| Female|null|     54|     90|
| Reeta|Missing|  71|   null|   null|
|Sachin|   Male|null|     67|     51|
| Honey| Female|  80|     76|   null|
+------+-------+----+-------+-------+

In [29]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.3)
Note: you may need to restart the kernel to use updated packages.

In [31]:
pip install numpy

Collecting numpy
  Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 26.8 MB/s eta 0:00:01
Installing collected packages: numpy
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/config/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.24.4
Note: you may need to restart the kernel to use updated packages.

In [33]:
from pyspark.ml.feature import Imputer

In [35]:
imputer=Imputer(inputCols=['Math','Science','English'],outputCols=['{}_imputed '.format(c) for c in ['Math','Science','English']]).setStrategy('mean')

In [36]:
imputer.fit(df_spark).transform(df_spark).show()

+------+------+----+-------+-------+-------------+----------------+----------------+
|  Name|   Sex|Math|Science|English|Math_imputed |Science_imputed |English_imputed |
+------+------+----+-------+-------+-------------+----------------+----------------+
| Sunny|Female|  87|     91|     81|           87|              91|              81|
| Bobby|  Male|  67|     56|     71|           67|              56|              71|
|  Tina|Female|null|     54|     90|           76|              54|              90|
| Reeta|  null|  71|   null|   null|           71|              68|              73|
|Sachin|  Male|null|     67|     51|           76|              67|              51|
| Honey|Female|  80|     76|   null|           80|              76|              73|
+------+------+----+-------+-------+-------------+----------------+----------------+

In [48]:
imputer2=Imputer(inputCol='Sex',outputCol='Sex_imputed').setStrategy('mode')